* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* font-family: 'Caveat', cursive;
font-family: 'Instrument Sans', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Ubuntu', sans-serif; */